---
permalink: /club-voltage
class: club
---

{% include head.html %}

{% include nav.html %}

<section class="hero d-flex align-items-center justify-content-center">
  <div class="row">
    <div class="container mx-auto text-center">
      <div class="col-lg-8 mx-auto">
        <h1>A Force For Good</h1>
        <p>Etiam porta sem malesuada magna mollis euismod. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
        <p><a href=""><button class="btn btn-outline">Learn More</button></a></p>
      </div>
    </div>
  </div>
</section>
<section>
    <div class="container mx-auto text-center">
        <h2>Member Advantages</h2>

        <div class="col-lg-8 mx-auto">
<div class="row advant">


          <div class="col-lg-4 mx-auto">
            <object type="image/svg+xml" data="../assets/img/shirt.svg">
              <img src="../assets/img/128x128-shirt.jpg" srcset="../assets/img/128x128-shirt@2x.png 2x" alt="No SVG support">
            </object>
            <p class="red uppercase bold">Merchandise</p>
            <p>Etiam porta sem malesuada magna mollis euismod. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
          <div class="col-lg-4 mx-auto">
            <object type="image/svg+xml" data="../assets/img/support.svg">
              <img src="../assets/img/128x128-support.jpg" srcset="../assets/img/128x128-support@2x.png 2x" alt="No SVG support">
            </object>
            <p class="red uppercase bold">Customer Support</p>
            <p>Etiam porta sem malesuada magna mollis euismod. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
          <div class="col-lg-4 mx-auto">
            <object type="image/svg+xml" data="../assets/img/shield.svg">
              <img src="../assets/img/128x128-shield.jpg" srcset="../assets/img/128x128-shield@2x.png 2x" alt="No SVG support">
            </object>
            <p class="red uppercase bold">Merchandise</p>
            <p>Etiam porta sem malesuada magna mollis euismod. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
</div>
<div class="row">




          <p class="mx-auto text-center mt-5"><a href=""><button class="btn">Learn More</button></a></p>
        </div>
        </div>

      </div>
</section>




{% include modal.html %}
