.btn {
  background: $red;
  color: $white;
  padding: 10px 30px;
  border-radius: 0px;
  font-size: 18px;
  border: 1px solid $red;

  &-outline {
    background: transparent;
    border: 1px solid $white;

    &:hover {
      background: $white;
      color: $grey;
    }
  }
}
