<ul class="nav">
  <a class="navbar-brand" href="/"><img src="../assets/img/logo.svg" /></a>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Another link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li>
</ul>

<!--<header id="nav">

          <nav class="navbar navbar-toggleable-md navbar-trans navbar-inverse">

        					<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarToggler-1" aria-controls="navbarToggler-1" aria-expanded="false" aria-label="Toggle navigation">
        						<span class="navbar-toggler-icon"></span>
        					</button>
        					<a class="navbar-brand" href="/"><img src="../assets/img/logo" /></a>
        					<div class="collapse navbar-collapse" id="navbarToggler-1">
        						<ul class="navbar-nav mt-2 mt-md-0">
        							<li class="nav-item">
        								<a class="nav-link" href="/"></a>
        							</li>
                      <li class="nav-item">
        								<a class="nav-link" href="/"></a>
        							</li>
        						</ul>
        					</div>
                  <div class="collapse navbar-collapse pull-xs-right justify-content-end" id="navbarToggler-1">
        						<ul class="navbar-nav mt-2 mt-md-0">
        							<li class="nav-item">
        								<a class="btn" href="#login">
        								</a>
        							</li>
        						</ul>
        					</div>

        			</nav>
</header> -->
