.club {

  section {
    padding: 100px 0;
  }

  .hero {
    height: 748px;
    background-color: $grey;
    background-image: url(../img/1440x8320home-team-hi@2x.png);
    background-size: cover;

  }

  .advant {

  svg, img, object {
    width: 128px;
    height: 128px;
    margin-bottom: 40px;
  }

}

}
