section {
  font-family: Gibson,sans-serif !important;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  color: $white;
}

h2 {
  font-size: 34px;
  font-weight: bold;
  color: $red;
  text-transform: uppercase;
  margin-bottom: 70px;

}

p {
  font-weight: 300;
}

.bold {
  font-weight: 600;
}

.red {
  color: $red;
}

.uppercase {
  text-transform: uppercase;
}

.hero {

  h1 {
    margin-bottom: 40px;
  }

  p {
    color: $white;
    margin-bottom: 70px;

  }
}

button {
  font-size: 18px;
}
